<nav class="navbar navbar-expand-lg navbar-dark text-center text-lg-left" role="navigation">
  <div class="container">
    <div id="navbarSupportedContent" class="navbar-collapse collapse w-100 order-1 order-lg-0">
      <!-- Left menu -->
      <ul class="nav navbar-nav mr-auto">
          {% for link in linklists[section.settings.menu1].links %}
            {% if link.links != blank %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ link.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }}
                  <!-- {% include 'icon-arrow-down' %} -->
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for childlink in link.links %}
                    <a class="dropdown-item" href="{{ childlink.url }}">
                      {{ childlink.title }}
                    </a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item {% if link.active %} active {% endif %}">
                <a class="nav-link" href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>

    <!-- Logo wrapper -->
    <div role="banner" class="navbar-brand mr-auto logo" style="fill: white; stroke:white;">
      {% if template.name == 'index' %}
      <h1 class="text-center mx-auto mb-0">
      {% else %}
      <div class="h1 text-center mx-auto mb-0">
      {% endif %}
        <a href="/" class="logo-image" aria-label="Gå til forsiden" title="Gå til forsiden">
          {% include 'icon-barberskabet' %}
        </a>
      {% if template.name == 'index' %}
      </h1>
      {% else %}
      </div>
      {% endif %} 
    </div>

    <!-- Navbar toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Åben menu">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Mobile navbar -->
    <div id="navbarSupportedContent" class="navbar-collapse collapse w-100 order-3" >

        <!-- Right menu -->
        <ul class="nav navbar-nav ml-auto">
          {% for link in linklists[section.settings.menu2].links %}
            {% if link.links != blank %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ link.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }}
                  <!-- {% include 'icon-arrow-down' %} -->
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for childlink in link.links %}
                    <a class="dropdown-item" href="{{ childlink.url }}">
                      {{ childlink.title }}
                    </a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item {% if link.active %} active {% endif %}">
                <a class="nav-link" href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}

          {% if shop.customer_accounts_enabled %}
            <li class="nav-item {% if link.active %} active {% endif %}">
              <a class="nav-link" href="/account">Log ind</a>
            </li>
            {% endif %}

            <!-- Shopping cart -->
            {% if cart.item_count > 0 %}
              <li class="nav-item {% if link.active %} active {% endif %}">
                <a class="nav-link" href="/cart">
                  {{ 'layout.cart.title' | t }} ({{ cart.item_count }})
                </a>
              </li>
            {% endif %}

            
            <!-- Customer account -->
            <!-- https://github.com/Shopify/starter-theme/blob/master/src/sections/header.liquid -->
            <!-- {% if shop.customer_accounts_enabled %} -->
              <!-- {% if customer %}
              <li class="nav-item {% if link.active %} active {% endif %}">
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a class="nav-link" href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a class="nav-link" href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li> -->

              <!-- {% endif %} -->
            <!-- {% endif %} -->

        </ul>

      </div> <!-- Mobile Navbar end -->

  </div> <!-- container -->

</nav>