<section data-section-id="{{ section.id }}" data-section-type="product" class="py-2 py-md-3">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <!-- Product .container -->
  <div class="container">
    <div class="d-block d-lg-none">
      <!-- Trustpilot widget -->
      <div class="trustpilot-widget" data-locale="da-DK" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="56b8552e0000ff000588a2a7" data-style-height="20px" data-style-width="100%" data-theme="light" style="position: relative;"><iframe frameborder="0" scrolling="no" title="Customer reviews powered by Trustpilot" src="https://widget.trustpilot.com/trustboxes/5419b6ffb0d04a076446a9af/index.html?templateId=5419b6ffb0d04a076446a9af&amp;businessunitId=56b8552e0000ff000588a2a7#locale=da-DK&amp;styleHeight=20px&amp;styleWidth=100%25&amp;theme=light" style="position: relative; height: 20px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe></div>
      <!-- Product title -->
      <h2 class="h5 mt-2 text-center">{{ product.title }}</h2>
    </div>

    <div class="row">
      <div class="col-lg">
        <div class="container product-image">

          {% for image in product.images %}
            {% capture wrapper_class %}
              {%- unless featured_image == image -%}
              hide
              {%- endunless -%}
            {% endcapture %}

            <!-- INCLUDE RESPONSIVE-IMAGE -->
            {% include 'responsive-image-products' with
            image: image,
            max_width: 1050,
            max_height: 1050,
            image_attributes: "data-product-featured-image",
            wrapper_class: wrapper_class,
            wrapper_attributes: "data-product-image-wrapper",
            %}
          {% endfor %}

          {% if product.images.size > 1 %}
            <div class="d-flex">
              {% for image in product.images %}
                <a class="flex-grow-1 product-single__thumbnail-image" href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                  <img class="w-100" src="{{ image.src
                  | img_url: '140x140' }}" alt="{{ image.alt | escape }}">
                </a>
              {% endfor %}
            </div>
          {% endif %}

          <!-- .container -->
        </div>

        <!-- col -->
      </div>

      <div class="col-lg text-center">

          <div class="d-none d-lg-block trustpilot-widget" data-locale="da-DK" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="56b8552e0000ff000588a2a7" data-style-height="20px" data-style-width="100%" data-theme="light" style="position: relative;"><iframe frameborder="0" scrolling="no" title="Customer reviews powered by Trustpilot" src="https://widget.trustpilot.com/trustboxes/5419b6ffb0d04a076446a9af/index.html?templateId=5419b6ffb0d04a076446a9af&amp;businessunitId=56b8552e0000ff000588a2a7#locale=da-DK&amp;styleHeight=20px&amp;styleWidth=100%25&amp;theme=light" style="position: relative; height: 20px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe></div>

        <!-- Product title -->
        <h2 class="h2 mt-2">{{ product.title }}</h2>


        <!-- Product description -->
        <div class="text-center">
          {{ product.description }}
        </div>

        {% form 'product', product, data-productid: product.id, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
<!-- Begin ReCharge code -->
{% if product.available %}{% include 'subscription-product' %}{% endif %}
<!-- End ReCharge code -->


        <div class="py-2 text-center">

          <div class="form-group">

  
{% if product.options.size > 1 %}
      <div class="select">
        <select id="product-select-{{ product.id }}{{ product-form }}" name="id" class="multi_select" data-productid="{{ product.id }}">
          {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and product.variants.size > 1 %}
      <div class="select">
        <label>{{ product.options[0] }}</label>
        <select id="product-select-{{ product.id }}{{ product-form }}" name="id">
          {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" data-productid="{{ product.id }}" />
    {% endif %}

              <!-- Størrelsesguide knap -->
              <div class="col">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#sizeModal">
                  <u>Hvad er min størrelse?</u>
                </button>
              </div>
            {%- comment -%} End of product variant selectors {%- endcomment -%}
        
            
<!-- Product price -->
<div data-price-wrapper>
    <div class="row">
      <div class="col">
        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col h3 mb-0 mt-2">
         49,00 kr.
        <span data-product-price hidden>
          {{ current_variant.price | money }}
        </span>
      </div>
      <hr>
    </div>

  </div>

            {%- comment -%}           
            {% if product.has_only_default_variant %}
            <input name="id" data-productid="{{ product.id }}" value="{{ product.variants.first.id }}" type="hidden">
            
            {% else %}
            {% for option in product.options_with_values %}
              <div class="js">
                {% if forloop.index0 > 0 %}
                  {% for value in option.values %}
                    <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                    <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                  {% endfor %}
                  
                  <label class="input-group-text" for="Option{{ option.position }}">
                    {{ option.name }}
                  </label>

                  <select
                    class="custom-select"
                    id="Option{{ option.position }}"
                    name="options[{{ option.name | escape }}]">
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                {% endif %}
              </div>
            {% endfor %}
            <p class="text-center">Vælg størrelse</p>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for variant in product.variants %}

                  {% if variant.available %}
                    <label for="radio_{{ variant.id }}" class="btn btn-outline-dark">
                      <input type="radio" name="size" value="{{ variant.id }}" id="radio_{{ variant.id }}" autocomplete="off"> {{variant.title | escape}}
                    </label>
                  {% else %}
                    <label for="radio_{{ variant.id }}" class="btn btn-outline-dark disabled">
                      <input type="radio" name="size" value="{{ variant.id }}" id="radio_{{ variant.id }}" autocomplete="off" disabled> {{variant.title | escape}}
                    </label>
                  {% endif %} 

                {% endfor %}
              </div>
              <div class="col">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#sizeModal">
                  <u>Hvad er min størrelse?</u>
                </button>
              </div>
            {% endif %}
            {%- endcomment -%}


            <!-- Knap til kurv -->
            <div class="col">
              <button
              type="submit"
              name="add"
              class="btn btn-primary"
              data-submit-button
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-submit-button-text>
                {% if current_variant.available %}
                  + {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
            </button>
            </div>

            <noscript>
              <select name="id" data-productid="{{ product.id }}" >
                {% for variant in product.variants %}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}">
                  {{ variant.title }}
                  </option>
                {% endfor %}
              </select>
            </noscript>

          <!-- .form-group -->
          </div>

          
          
        </div>
        {% endform %}

        <ul class="list-group list-group-horizontal-sm mt-2 d-flex justify-content-around">
            <li class="list-inline-item d-flex align-items-center mx-auto">
              <span class="product-payment__icon">
                {% include 'icon-sikker-betaling' %}
              </span>
              <span class="small">
                Sikker betaling
              </span>
            </li>
            <li class="list-inline-item d-flex align-items-center mx-auto">
              <span class="product-payment__icon">
                {% include 'icon-hurtig-levering' %}
              </span>
              <span class="small">
                Hurtig levering
              </span>
            </li>
            <li class="list-inline-item d-flex align-items-center mx-auto">
              <span class="product-payment__icon">
                {% include 'icon-gratis-levering' %}
              </span>
              <span class="small">
                Gratis levering
              </span>
            </li>
        </ul>
      
      
        <!-- Størrelsesguide modal -->
      <div class="modal fade" id="sizeModal" tabindex="-1" role="dialog" aria-labelledby="Størrelse" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sizeModalCenterTitle">Find din størrelse:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {%- comment -%}<p class="text-center">All mål er i cm</p>{%- endcomment -%}
              {% include 'icon-size-guide' %}
            </div>
          </div>
        </div>
      </div>
        <!-- col -->
      </div>

      <!-- row -->
    </div>
    
    <!-- container -->
  </div>
  
</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ]
  }
{% endschema %}
