{% if section.settings.image != blank %}
  {% assign hero_image = section.settings.image %}
{% else %}
  {% assign hero_image = 'placeholder-svg' %}
{% endif %}

<div class="hero-image jumbotron-fluid lazyload d-flex justify-content-center mb-sm-0 pb-5"
  {% if section.settings.overlay_color != 'rgba(0,0,0,0)' %}
    data-bgprefix="linear-gradient({{ section.settings.overlay_color |
    color_modify: 'alpha', 0.8}}, {{ section.settings.overlay_color |
    color_modify: 'alpha', 0.5}}), "
  {% else %}
    data-bgprefix="linear-gradient({{ section.settings.overlay_color}}, {{
                      section.settings.overlay_color}}), "
  {% endif %}
  data-bgset="{% include 'responsive-bg-image', image: hero_image %}"
>
  
  
  <div class="container">
    <div class="flex-row">

      <!-- Logo wrapper -->
      <div role="banner" style="fill: white; stroke:white;">
        <h1 class="text-center mx-auto" style="max-width: 200px;">  
          <a href="/" class="logo-image" aria-label="Gå til forsiden">
            {% include 'icon-barberskabet-logo' %}
          </a>
        </h1>
      </div>
  
      <!-- Call to action -->
      <div class="pt-1 pt-md-2 pt-lg-4 flex-row text-center align-self-center">
        <div class="col">
          {% if section.settings.title != blank %}
          <h1>{{ section.settings.title }}</h1>
          {% endif %}
          {% if section.settings.text != blank %}
          <p class="lead">{{ section.settings.text }}</p>
          {% endif %}
        </div>
        <div class="col mt-2 mt-md-3">
          {% if section.settings.button_label_1 != blank and
            section.settings.button_link_1 != blank %}
            <a class="btn btn-lg btn-light
            {% if section.settings.button_label_2 != blank and
              section.settings.button_link_2 != blank %} mr-3
             {% endif %}"
              href="{{ section.settings.button_link_1 }}">
              {{ section.settings.button_label_1 | escape }}
            </a>
          {% endif %}
          {% if section.settings.button_label_2 != blank and
            section.settings.button_link_2 != blank %}
            <a class="btn btn-lg" href="{{ section.settings.button_link_2 }}">
              {{ section.settings.button_label_2 | escape }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div> <!-- .container end -->
</div>

<!-- Floating call-to-action -->
{% if section.settings.show_call_to_action == true %}
  <h1>SHOW FLOATING CALL TO ACTION</h1>
{% endif %}

{% schema %}
  {
    "name": "Hero Banner Landingpage",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Banner Color Overlay",
        "default": "#000000",
        "info": "This allows you to pick a color to overlay on the banner image"
      },
      {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 450,
      "step": 10,
      "unit": "px",
      "label": "Custom logo width",
      "default": 250
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Prøv vores revolutionerende grafentech boxershorts",
        "placeholder": "Prøv vores revolutionerende grafentech boxershorts"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Prøvepakke fra kun ​49 kr.",
        "placeholder": "Prøvepakke fra kun ​49 kr."
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "Primary Button label",
        "default": "Bestil prøvepakke",
        "placeholder": "Bestil prøvepakke"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "Primary Button link",
        "default": "/collections"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Secondary Button label"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "Secondary Button link"
      },
      {
        "type": "checkbox",
        "id": "show_call_to_action",
        "label": "Show call to action button",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Hero Banner",
        "category": "Call to action"
      }
    ]
  }
{% endschema %}
